@charset "UTF-8";

html {
	background-color: white;
	overflow-y: auto;
}

body {
	padding: 0;
}

.form_above {
	color: red;
}

.pagination {
	text-align: center;
}
.pagination a {
	display: inline-block;
}

/* reset our table styling */
.form_table,
.form_table td,
.form_table th,
.form_table tr {
	background: none !important;
	padding: 0;
	border: 0;
	font-size: inherit;
}
.form_table {
	table-layout: fixed;
}
.form_table tr > * {
	padding-bottom: 0.5em;
}
.form_table tr > :first-child {
	width: 30%;
	padding-right: 0.5em;
}
.form_table tr > :last-child {
	width: 70%;
}

.form_table input,
.form_table select,
.form_table textarea {
	max-width: 100%;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1.4em;
	vertical-align: -0.3em;
}

.areYouHuman {
	display: none;
}

.filter-bar {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.filter-bar select {
	width: 100%;
	margin: 0.2em 0;
}

@media (min-width: 30em) {
	.filter-bar {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.filter-bar select,
	.filter-bar button {
		margin: 0;
		white-space: nowrap;
	}
}

:invalid:not(:focus) {
	color: inherit;
	border-color: inherit;
}

.alert {
	overflow: hidden;  /* clearfix */
	padding: 1em;
	border-radius: 2em;
	background-color: #d0e4e4;
	border: 0.2em solid #005e60;
	margin-bottom: 1em;
	text-align: center;
}
.alert__body {
	display: inline;
}
