@charset "UTF-8";

html {
	background-color: white;
	overflow-y: auto;
}

body {
	padding: 0;
}

.form_above {
	color: red;
}

.center {
	text-align: center;
}

.form_table,
.form_table td,
.form_table th,
.form_table tr {
	background: none !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: inherit !important;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1.4em;
	vertical-align: -0.3em;
}

tr.areYouHuman {
	display: none;
}
