@charset "UTF-8";

//@import url("../templates/kub/css/kub-rtl.css");

//@import url("../templates/kub/css/kub-rtl.css") p, html;


html {
	background-color: #fff;

	color: #111;
	font-size: 1em;
	font-family: sans-serif;
}

body {
	background-color: #fff;

	color: #111;
	font-size: 1em;
	font-family: sans-serif;
	/*font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;*/
	/*font-size: 14px; */
	/*font-style: normal;*/
	/*color: black;*/
}

div.tandem_body {
	width: 100%;
}

.form_above {
	color: red;
}

.center {
	text-align: center;
}

table {
	border: 0;
}

th, td {
	padding: 4px 4px 4px 4px;
}

table.tandem_table {
	border-collapse: collapse;
	font-size: 90%;
}

table.tandem_table th,
table.tandem_table td {
	border: 2px solid;
	border-color: #005e60;

	-moz-hyphens: auto;
	hyphens: auto;

	word-wrap: break-word;

	word-break: break-all;
}

table.tandem_table th {
	background-color: #d0e4e4;/*#ba0303;*/
	color: black;
	word-break: normal;
}

table.tandem_table tr:nth-child(even) {
	background: #FFFFFF;
}

table.tandem_table tr:nth-child(odd) {
	background: #f8f8f8;
}

table.filter_table {
	width: 100%;
}

#filter_button {
	min-width: 85px;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1.4em;
	vertical-align: -0.3em;
}

tr.areYouHuman {
	display: none;
}
